spacy==2.0.7
alembic
bcrypt
cffi
click
coverage
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-MongoAlchemy
Flask-Script
Flask-PyMongo
Flask-SQLAlchemy
Flask-Testing
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
pycparser
pytz
PyJWT
python-dateutil
python-editor
six
SQLAlchemy
